/* Font */
.quantico-regular {
  font-family: "Quantico", serif;
  font-weight: 400;
  font-style: normal;
}
.quantico-bold {
  font-family: "Quantico", serif;
  font-weight: 700;
  font-style: normal;
}
.quantico-regular-italic {
  font-family: "Quantico", serif;
  font-weight: 400;
  font-style: italic;
}
.quantico-bold-italic {
  font-family: "Quantico", serif;
  font-weight: 700;
  font-style: italic;
}

/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 1.2rem;
}
html {
  scroll-behavior: smooth;
}
body {
  padding: 0 0;
}
section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.row {
  display: flex;
}
.text-content {
  margin: 0 10%;
}
.col {
  text-align: justify;
  padding: 1rem;
  text-align-last: center;
}
h2 {
  font-size: 1.5rem;
}
h1 {
  font-size: 3rem;
}
.col-2 {
  width: 45%;
  margin: 20px;
  padding: 10px;
  float: left;
}
.col-3 {
  width: 20%;
  margin: 10px;
  padding: 10px;
  float: left;
}

/* navigation bar */
nav {
  background-color: #27374d;
  padding: 0.6rem 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
.nav-menu {
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 2rem;
}
.nav-menu li {
  padding-left: 0;
  margin-right: 100px;
}
#header-nav ul {
  word-spacing: 20px;
}
.nav-menu li a {
  /* transition: color 0.5s, border-botton 4s; */
  display: inline-block;
  color: #dde6ed;
}
.nav-menu li a:hover {
  color: #7395af;
}
.nav-menu li a::after {
  content: "";
  display: block;
  transform: scaleX(0);
  border-bottom: 0.1rem solid #7395af;
}
.nav-menu li a:hover::after {
  transform: scaleX(0.5);
}

/* hero section */
#hero {
  background: linear-gradient(rgba(0, 0, 0, 0.1), 80%, #27374d), url(images/jonathan-roger-LY1eyQMFeyo-unsplash.jpg);
  background-size: cover;
  color: white;
}
.photo-profile {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 50px #a8b5d8;
  margin-bottom: 1rem;
  margin-top: -10rem;
}
.photo-profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 25%;
}

/* section about */
#about {
  background: linear-gradient(#27374d, 60%, #345077);
  color: #dde6ed;
}

/* section project */
#projects {
  background: #345077;
  color: #dde6ed;
  transition: filter 0.5s;
}
#projects .row {
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 3rem;
}
.card {
  flex: 0 0 25%;
  height: 70vh;
  border: 1px solid #1f293b;
  box-shadow: 0 0 50px #1f293b;
  background-color: #27374d;
  border-radius: 2rem;
  transform: scale(1);
  transition: 1s;
  /* cursor: pointer; */
}
.card:hover {
  transform: scale(1.12);
}
.gambar {
  width: 100%;
  height: 50%;
}
.gambar img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  object-fit: cover;
}
.card-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 50%;
  padding: 0 1rem;
}
.card-text p {
  margin-top: -2rem;
}
.button {
  background-color: #7395af;
  color: #dde6ed;
  width: 50%;
  margin: 0 auto;
  padding: 0.3rem 1rem;
  border-radius: 0.5rem;
}
.button:hover {
  background-color: #576e80;
  color: #b6bdc2;
}

/* form contact me */
.form-control {
  display: block;
  width: 100%;
}
input.form-control {
  height: 2rem;
}
form div {
  text-align: left;
  width: 50%;
  margin: 1rem auto;
}
form {
  width: 100%;
  padding: 1rem 10%;
}
button {
  padding: 0.3rem 1rem;
  border-radius: 0.5rem;
  background-color: #1f293b;
  color: #dde6ed;
}
.button:hover {
  background-color: #050c18;
  color: #6f7b85;
}

/* footer start */
footer {
  width: 100%;
  background-color: #27374d;
  color: #7395af;
  display: flex;
}
footer a {
  color: #a8b5d8;
  display: inline-block;
}
.sosmed a {
  margin: 0 0.2rem;
}
footer .row {
  margin: 0.5rem auto;
}
footer .col:first-child {
  text-align: right;
}
#credits {
  text-align: left;
  display: flex;
  flex-direction: column;
  /* border-left: 4px solid #1f293b; */
}
#credits::before {
  content: "";
  /* border-left: 4px solid #1f293b; */
  position: absolute;
  background: #1f293b;
  left: 0;
  width: 4px;
  transform: translateX(21250%);
  height: 4.2rem;
  border-radius: 1rem;
}
